
.orange-theme{
    background: url(../themedweb/orange.jpg) !important;
    color: forestgreen;
}


.sky-theme{
    background: url(../themedweb/sky.jpg) !important;
    color: black;
}

.accordian-skytitle{
    font-size: 20pt;
    font-family: Cambria;
    border: black;
    background-color: darkblue;
    color: white !important;
}

.accordian-skytext{
    font-family: Cambria;
    font-size: 14pt;
    border: black;
    background-color: skyblue !important;
    color: black;
}

.accordian-orangetitle{
    font-size: 20pt;
    font-family: Cambria;
    border: black;
    background-color: orange;
    color: black !important;
}

.accordian-orangetext{
    font-family: Cambria;
    font-size: 14pt;
    border: black;
    background-color: gold !important;
    color: darkgreen;
}