{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'themedweb/materialize.min.css'%}"  media="screen,projection"/>
        <!--Import story7 css-->
        <link type="text/css" rel="stylesheet" href="{% static 'themedweb/story7.css'%}" media="screen, projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>About Rofi</title>
    </head>

    <body id = "body" class="orange-theme">
        

        <div class="container" style="align-content: center;">
            <a class="btn waves-effect grey" onclick="changeTheme()" name="theme-button">Change theme</a>
            <div class="container">
            <img src="{%static 'themedweb/myfoto.jpg'%}" alt="" style="border-radius: 50%; max-height: 15rem; ">
            <h2 >Abdurrafi Arief</h2>
            
            <div class="accordion">
                <div id="aktivitas">
                    <ul id="card1" class="accordian-orangetitle" ><a class="toggle" style="color:inherit;">Aktivitas</a>
                        <li id="cardcontent1" class="accordian-orangetext">		
                            <ul>
                                <li >
                                    <p>Ngerjain Tugas Kuliah</p>
                                </li>
                                <li >
                                    <p>Dateng Rapat Juga</p>
                                </li>
                                <li >
                                    <p>Pengan Rebahan</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="organisasi">
                    <ul id="card2" class="accordian-orangetitle" ><a class="toggle" style="color:inherit;">Pengalaman Organisasi dan Kepanitiaan</a>
                        <li id="cardcontent2" class="accordian-orangetext">
                            <ul>
                                <li>
                                    <p>Staff Kastrat BEM Fasilkom 2019<br>
                                </li>
                                <li>
                                    <p>Staff Syiar Kreatif FUKI Fasilkom 2019</p>    
                                </li>
                                <li>
                                    <p>Mentor PMB 2019</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="prestasi">
                    <ul id="card3" class="accordian-orangetitle" ><a class="toggle" style="color:inherit;">Prestasi</a>
                        <li  id="cardcontent3" class="accordian-orangetext">
                            <ul>
                                <li>
                                    <p>Peraih Nilai Sempurna Fisika di UNBK 2018</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>	
            </div>
    

            


        </div>


        </div>
        <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'themedweb/story7.js' %}"></script>
    
    </body>


</html>